# kdevelop files
apidocs
.kdev4
*.kdev4
build
*~
*.orig
*.rej
doxygen.log
Doxyfile
*.kdevelop
*.kdevelop.filelist
*.kdevelop.pcs
*.kdevses
.*kate-swp
build/

*.[oa]
# Compiled Static libraries
*.a
*.config
*.dylib
*.la
*.lai
*.lo
*.nhdr
*.nii.gz
*.nrrd
# Compiled Object files
*.o
*.obj
*.orig
*.pyc
*.raw
*.sample
*.slo
# Compiled Dynamic libraries
*.so
*.swp
*ExternalSources*
# emacs backups
*~
.DS_Store
.ExternalData_MD5*
.RData
.RDataTmp
.Rhistory
._*
.clang_complete
.emacs.desktop
.idea
.svn
CMakeCache.txt
CMakeFiles/*
crash*
# History files
.Rhistory
# Cache File
.RData
# Example code in package build process
*-Ex.R
.Rproj.user
cache
.DS_Store
# Latex stuff
*.tex
*.aux
*.lof
*.lot
*.toc
*.tdo
*.pdf
*.log
*.gz

# ignore all files that end with .password
*.password

# RDATA files saved
*.rda
